/* Variables light mode par défaut */
:root {
  --background: #FFF;
  --text: #3A3A3A;
  --heading: #212336;
  --link: #363637;
  --link-hover: #A89F91;
  --button-bg: #F8E9E6;
  --button-text: #5C4B51;
  --card-bg: #FBF0F0;
  --border: #A3A390;
}

/* Mode sombre */
body.dark {
  --background: #0e0d0d;
  --text: #E6E1D4;
  --heading: #ece9e5;
  --link: #f1ede7;
  --link-hover: #D6CEC3;
  --button-bg: #6E5E60;
  --button-text: #E6E1D4;
  --card-bg: #3b3939;
  --border: #5A4E3C;
}