.carouselSection{
    max-width: 1100px;
  margin: 3rem auto;
  padding: 0 2rem;
    scroll-margin-top: 120px;
}

.title {
  font-family: 'Playwrite HU', serif;
  color: var(--heading);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--heading);
}

.header p {
  font-size: 1rem;
  color: var(--text);
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.carouselContainerRef {
  justify-content: center;
  padding: 1rem;
  color: var(--text);
}

.quoteCardRef {
  background-color: var(--card-bg);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.navButtonRef {
  font-size: 2rem;
  color: var(--button-text);
}

.quoteAuthor{
  font-family: 'Playwrite HU', serif;
}

.quoteText {
  color: var(--text);
  margin-bottom: 1rem;
  text-align: justify;
}

.mobileToggle {
  display: none;
}

.toggleButton {
  background: none;
  border: none;
  color: var(--link);
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.toggleButton:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mobileToggle {
    display: block;
    margin-bottom: 1rem;
  }
}
