/*GENERAL*/
body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

img{
    max-width: 25%;
    height: auto;
}
section{
    padding: 45px 0 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-align: center;
    text-transform: uppercase;

}
.color-divider{
    width: 100px;
    height: 2px;
    background: rgba(86,30,30,0.9);
    margin: 20px auto;
}


/*NAVBAR*/
.navbar {
    background-color: rgba(86,30,30,0.9);
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: rgba(86,30,30,0.9) !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}


/*ABOUT*/
#about{
    padding-top: 100px;
    background: rgba(86,30,30,0.9);
}
.profile-picture{
    text-align: center;
    margin: 0 auto;

}
#about .heading h1, #about .heading h3{
    color: #FFF;
}
.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    border: 1px solid #f4d4bd;;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.4s ease-in 0s;
}
.button1:hover{
    background: #fff;
    color: rgba(86,30,30,0.9);
    text-decoration: none;
}
/*SKILLS*/
#skills{
    background: #FFF;
    color: rgba(86,30,30,0.9);
}
#skills p{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}
#skills img{
    width: 10%;
    margin: 5px;
    height: auto;
}



/*PORTFOLIO*/
#portfolio{
    background: rgba(86,30,30,0.9);
}
#portfolio .heading h2{
    color: #fff;
}

.conteneur{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.screen{
	min-width: 30%;
	margin: 10px;
}
.screenBorder{
	display: flex; 
	justify-content: space-between;
	background: #263A45;
	color: white;
	font-size: 10px;
	padding: 8px;	
	border-radius: 10px 10px 0px 0px;
}
.screenBox img{
	width: 100%;
	height: 230px;
	border-radius: 0px 0px 10px 10px;
}








/*
#portfolio img{ 
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
} 
#portfolio img:hover{ 
    filter: none;
}

/*COMPETENCES*
.fa-chevron-left, .fa-chevron-righ{
    color: rgba(86,30,30,0.9);
    font-size: 50px;
}


/*EDUCATION*/
#education{
    background: #fff;
}
#education .heading h2{
    color: rgba(86,30,30,0.9);
}
.education-block{
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    padding: 30px;
    background: #fff9f9;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block h3{
    color: rgba(86,30,30,0.9);
    font-size: 20px;
}
.education-block h4{
    color: rgb(86, 30, 30);
    margin-bottom: 20px;
    font-size: 20px;

}
.education-block p{
    font-weight: 500;
}
.education-block .color-divider{
    margin: 10px auto;
}


/*EXPERIENCES*/
#experiences{
    background: rgba(86,30,30,0.9);
}
#experiences h2{
    color: #fff;
}
.timeline-heading p{
    font-size: 20px;
    text-align: center;
    color: rgba(86,30,30,0.9);
    line-height: 50px;
}

.timeline-panel{ 
    width: 80%;
    float: right;
    margin: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 25px;

    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background: #FEF8F9;
}

.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.text-muted{
    color: grey;
    font-size: 15px;
}
.text-muted p{
    font-size: 18px;
}


/*CONTACT*/
#contacts > div{
    padding: 6px;
}
#contacts .fab, #contacts .fas{
    color: rgba(52, 19, 19, 0.9);
    font-size: 35px;
}

/*FOOTER*/
footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .fa-angle-up{
    font-size: 25px;
    margin: 25px;
    color: #FEF8F9;
    height: 35px;
}
footer h5{
    color: #fff;
    font-weight: normal;
}

