.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skillIcon {
  color: var(--text);
  padding: 0.2rem;

}

.iconLink:hover .skillIcon {
  background-color: var(--background);
  border-radius: 17%;
}

.Email:hover .skillIcon {
  color: #7a557e;
}
.LinkedIn:hover .skillIcon {
  color: #0A66C2;
}
.GitHub:hover .skillIcon {
  color: #4d4c4c;
}
.CodePen:hover .skillIcon {
  color: #98989a;
}
.Freecodecamp:hover .skillIcon {
  color: #2F5C04;
}
.Codingame:hover .skillIcon {
  color: #F2BB13;
}
.Hackerrank:hover .skillIcon {
  color: #02E963;
}