.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skillIcon {
  color: var(--text);
  transition: all 0.3s ease;
}

.iconLink:hover .skillIcon {
  background-color: var(--background);
  padding: 0.2rem;
  border-radius: 7%;
}

.Email:hover .skillIcon {
  color: #000;
}
.LinkedIn:hover .skillIcon {
  color: #0A66C2;
}
.GitHub:hover .skillIcon {
  color: #0a0a0a;
}
.CodePen:hover .skillIcon {
  color: #2D2D39;
}
.Freecodecamp:hover .skillIcon {
  color: #2F5C04;
}
.Codingame:hover .skillIcon {
  color: #F2BB13;
}
.Hackerrank:hover .skillIcon {
  color: #02E963;
}